/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.register-body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container {
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.register-logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.register-form {
    flex: 2;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.register-button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #666;
}

.login-link {
    text-align: center;
    margin-top: 20px;
}

.login-link a {
    color: #000;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

/* Media Query for Mobile */
@media (max-width: 768px) {
    .register-container {
        flex-direction: column;
        width: 100%;
        padding: 20px;
    }

    .register-logo {
        margin-bottom: 20px;
    }
}
