body.login-body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-logo img {
    width: 150px;
    height: 150px;
    margin-right: 2rem;
}

.login-form h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.login-form p {
    margin-bottom: 1.5rem;
    color: #666;
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
    
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group.remember {
    display: flex;
    align-items: center;
}

.form-group.remember input {
    margin-right: 0.5rem;
}

.login-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.login-button:hover {
    background-color: #666;
}

.register-link {
    text-align: center;
    margin-top: 1.5rem;
}

.register-link a {
    color: #000;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
